{% extends 'base.html' %}
{% block contenido %}
{% if user.is_authenticated %}
{{ user.username}}
      {% for i in inmuebles %}
      <ul>
        <li>{{i.nombre_inmueble}}</li>
        <li>{{i.id_region.region}}</li>
        <li>{{i.id_comuna.comuna}}</li>
      </ul>
        
      {% endfor %}
        <a href="{% url 'logout' %}"">Logout</a>
      
    
    {% else %}
    
    <h1>Debes Iniciar sesion para acceder al contenido</h1>
    <a href="{% url 'login_url' %}"">Login</a>
    
      
      
{% endif %}
{% endblock contenido %}