{% extends 'base.html' %}
{% block contenido %}
    {% if user.is_authenticated %}
        {{ user.username}} {{tipo}}
        {% if tipo == "Arrendador" %}
            <br>
                <h1>Desea eliminar el inmueble</h1>
                <h3>{{inmueble.nombre_inmueble}}</h3>       
                <a  class='btn btn-primary' href="{% url 'get_inmuebles' %}">Cancelar</a>
                <a  class='btn btn-danger' href="{% url 'delete_inmueble' inmueble.pk %}" id="myInput" > Eliminar</a>
                <hr>
                <br>


                <a href="{% url 'logout' %}"">Logout</a>
        {% else %}
        {% endif%}
    
    {% else %}
    
            <h1>Debes Iniciar sesion para acceder al contenido</h1>
            <a href="{% url 'login_url' %}"">Login</a>
    {% endif %}


{% endblock contenido %}

<!-- {% block script %}
    <script>
    const myModal = document.getElementById('exampleModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myModal.focus()
    })
    </script>
{% endblock script %}
     -->